parameters:
    level: 5
    paths:
        - src
    ignoreErrors:
        - message: '#type mapping mismatch#'
        - message: '#is unused#'
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml