parameters:
    level: 5
    paths:
        - src
    ignoreErrors:
        - message: '#type mapping mismatch#'
        - message: '#is unused#'
        - message: '#iterable type#'
        - message: '#generic interface#'
        - message: '#always evaluate#'
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml