parameters:
    level: 5
    paths:
        - src
    ignoreErrors:
        - message: '#type mapping mismatch#'
        - message: '#is unused#'
        - message: '#no value type specified in iterable type array#'
        - message: '#does not specify its types#'
        - message: '#will always evaluate to true#'
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml